$screen-xs-max: 768;
$screen-sm-min: 768;
$screen-md-min: 970;
$screen-lg-min: 1170;

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}
